{% load static %}
{% comment %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'donations/css/header.css' %}">
{% endblock %}

<header class="hero-header">
    <div class="hero-overlay">
        <div class="hero-text">
            <p class="tagline">KEEP ON THE WATCH!</p>
            <h1>War in the Middle East</h1>
            <p class="subtitle">What does the Bible say?</p>
        </div>
    </div>
</header>
<div class="b-example-divider"></div>
<div class="b-example-divider"></div>

{% endcomment %}



