{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'donations/css/topics.css' %}">
{% endblock %}

<section class="topics-section">
    <h2>Select a Topic That Interests You -
        {{ topics.count }} Topics Available
    </h2>

    <p>Click on a topic to explore related articles, videos, and resources.</p>
    <!-- Display topics in a grid layout -->
    {{ message |safe }}

    <div class="topics-grid">
        {% for topic in topics.all %}
        <div class="topic-card" style="background-image: url('{{ topic.image }}')">
            <span>
                {{ topic.name }}
            </span>
        </div>
    {% empty %}
        <div class="no-topics">
            <p>No topics available.</p>
        </div>
    {% endfor %}
    
    </div>
</section>
