{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'donations/css/topics.css' %}">
{% endblock %}

<section class="topics-section">
    <h2>Select a Topic That Interests You</h2>
    <div class="topics-grid">
        {% for topic in topics %}
        <div class="topic-card" style="background-image: url('https://picsum.photos/seed/img1/640/480')">
            <span>
                {{ topic.summery }}
            </span>
        </div>
        {% endfor %}
    </div>
</section>
