{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'donations/css/topics.css' %}">
{% endblock %}

<section class="topics-section">
    <h2>Select a Topic That Interests You</h2>
    <div class="topics-grid">
        <div class="topic-card" style="background-image: url('https://picsum.photos/seed/img1/640/480')">
            <span>Bible Questions Answered</span>
        </div>
        <div class="topic-card" style="background-image: url('https://picsum.photos/seed/img1/640/480');">
            <span>Peace & Happiness</span>
        </div>
        <div class="topic-card" style="background-image: url('https://picsum.photos/seed/img1/640/480')">
            <span>Faith in God</span>
        </div>
        <div class="topic-card" style="background-image: url('https://picsum.photos/seed/img1/640/480')">
            <span>Marriage & Family</span>
        </div>
        <div class="topic-card" style="background-image: url('https://picsum.photos/seed/img1/640/480')">
            <span>Teens & Young Adults</span>
        </div>
        <div class="topic-card" style="background-image: url('https://picsum.photos/seed/img1/640/480')">
            <span>Videos and Activities for Children</span>
        </div>
        <div class="topic-card" style="background-image: url('https://picsum.photos/seed/img1/640/480')">
            <span>Science & the Bible</span>
        </div>
        <div class="topic-card" style="background-image: url('https://picsum.photos/seed/img1/640/480')">
            <span>History & the Bible</span>
        </div>
        <div class="topic-card" style="background-image: url('https://picsum.photos/seed/img1/640/480')">
            <span>Frequently Asked Questions</span>
        </div>
    </div>
</section>
